<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Doctor Sign In</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header th:fragment="header">
      <nav>
        <span>Doctor Secret Service</span>
        <a href="/">Sign In</a>
      </nav>
    </header>
    <ul class="doctor-list">
      <li>
        <a th:href="@{/doctor/(number=1,name='William Hartnell')}">Doctor 1</a>
      </li>
      <li>
        <a th:href="@{/doctor/(number=2,name='Patric Troughton')}">Doctor 2</a>
      </li>
      <li>
        <a th:href="@{/doctor/(number=3,name='Jon Pertwee')}">Doctor 3</a>
      </li>
      <li><a th:href="@{/doctor/(number=4,name='Tom Baker')}">Doctor 4</a></li>
      <li>
        <a th:href="@{/doctor/(number=5,name='Peter Davison')}">Doctor 5</a>
      </li>
      <li>
        <a th:href="@{/doctor/(number=6,name='Colin Baker')}">Doctor 6</a>
      </li>
      <li>
        <a th:href="@{/doctor/(number=7,name='Sylvester McCoy')}">Doctor 7</a>
      </li>
      <li>
        <a th:href="@{/doctor/(number=8,name='Paul McGann')}">Doctor 8</a>
      </li>
      <li>
        <a th:href="@{/doctor/(number=9,name='Christopher Eccleston')}"
          >Doctor 9</a
        >
      </li>
      <li>
        <a th:href="@{/doctor/(number=10,name='David Tennant')}">Doctor 10</a>
      </li>
      <li>
        <a th:href="@{/doctor/(number=11,name='Matt Smith')}">Doctor 11</a>
      </li>
      <li>
        <a th:href="@{/doctor/(number=12,name='Peter Capaldi')}">Doctor 12</a>
      </li>
      <li>
        <a th:href="@{/doctor/(number=13,name='Jodie Whittaker')}">Doctor 13</a>
      </li>
      <li><a th:href="@{/doctor/}">Unknown Doctor</a></li>
    </ul>
    <footer th:fragment="footer">
      <ul>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">TARDIS</a></li>
      </ul>
      <span>Copyright BBC/Terry Nation 1963</span>
    </footer>
  </body>
</html>
